<div [formGroup]="textSectionGroup" *ngFor="let textSectionGroup of getFormGroups(); let index = index;">
  <div>
    <div class="row">
      <div class="col-md-11 form-group mb-3">
        <label class="col-form-label">Názov sekcie *</label>
        <input type="text" [ngClass]="{
                    'form-control' :true,
                    'apply-validation ': submitted
                }"
               formControlName="title"
               placeholder="Zadajte názov sekcie">
      </div>
      <div class="col-md-1 form-group mb-3">
        <div class="row justify-content-center mt-lg-5">
          <button type="button" class="btn btn-default px-3" (click)="deleteNewTextSection(index)"><i
            class="bi-trash icon-medium-size"></i></button>
        </div>
      </div>
      <div class="col-md-12 form-group mb-3">
        <label class="col-form-label">Text sekcie *</label>
        <textarea [ngClass]="{
                    'form-control' :true,
                    'apply-validation ': submitted
                    }"
                  cols="30" rows="2"
                  placeholder="Napíšte text sekcie" formControlName="text"></textarea>
      </div>
    </div>
  </div>
</div>
<div>
  <button [ngClass]="{
              'btn btn-primary col-xs-12' :true,
              'apply-validation-button ': submitted && form.invalid
            }"
          (click)="addNewTextSection()">
    <i class="bi bi-plus-square"></i> Vytvor textovú sekciu
  </button>
</div>
