<ng-container [formGroup]="form" *ngIf="form.get(dataField.formControlName)">
  <div class="form-group mt-3">
    <label class="col-form-label">{{dataField.label}}</label>
    <quill-editor [modules]="modules"
                  [format]="format"
                  [placeholder]="placeholder"
                  [formControlName]="dataField.formControlName" >
    </quill-editor>
    <div *ngIf="form.get(dataField.formControlName).invalid &&
              form.get(dataField.formControlName).touched" class="text-danger">
      Povinný údaj
    </div>
  </div>
</ng-container>
