.sticky {
  position: sticky;
  top: 0;
  z-index: 1071;
}

#instagram-logo {
  left: 0;
  top: 25px;
  position: absolute;
}

#facebook-logo {
  right: 0;
  top: 25px;
  position: absolute;
}

.margin-left {
  margin-right: 2%;
}

.contact-logo {
  width: 25px;
  height: 25px;
}

.navbar {
  background-color: white!important;
}

#contact-text {
  position: relative;
}

a {
  font-size: 0.9rem;
}

ul {
  width: 100%;
}

li {
  margin-left: 3.7%;
}
