#instagram-logo {
  left: 0;
  top: 25px;
  position: absolute;
}

#facebook-logo {
  right: 0;
  top: 25px;
  position: absolute;
}

.margin-left {
  margin-right: 2%;
}

.contact-logo {
  width: 25px;
  height: 25px;
}

.navbar {
  background-color: white!important;
}

#contact-text {
  position: relative;
}
