<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="nav nav-tabs" #headerTabs>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Domov</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#" >Projekty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Interiérový dizajn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Individuálne projekty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Obsah projektu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Kontakty</a>
      </li>


    </ul>
  </div>
</nav>
