<div class="container-fluid footer mt-5">
  <div class="row justify-content-center p-2">
    <a href="https://www.facebook.com/DomyodArchitektov">
      <img src="assets/facebook-logo.png" class="contact-logo d-block mr-1" alt="facebook">
    </a>
    <a href="https://www.instagram.com/domy_od_architektov/">
      <img src="assets/instagram-logo.png" class="contact-logo d-block ml-1" alt="instagram">
    </a>
  </div>
  <div class="row text-center p-2">
    <div class="col-md-2 offset-md-3 basic-light-grey-text"><span>+421 904 530 619</span></div>
    <div class="col-md-2 basic-light-grey-text"><span>info@domyodarchitektov.sk</span></div>
    <div class="col-md-2 basic-light-grey-text"><span>© 2021</span></div>
  </div>
  <div class="row text-center p-2">
    <div class="col">
      <span class="d-block"><a class="link-text" (click)="onLinkClick()">Zásady spracovania a ochrany osobných údajov</a></span>
      <span class="d-block basic-light-grey-text font-weight-bold">Obsah stránok www.domyodarchitektov.sk je chránený autorským zákonom.</span>
      <span class="d-block basic-light-grey-text font-weight-bold">Akékoľvek šírenie alebo iné nakladenie s obsahom bez súhlasu prevádzkovateľa je nezákonné.</span>
    </div>
  </div>
</div>
