<div *ngIf="isLoading" class="d-flex img-loading-wrapper justify-content-center">
  <div class="row align-content-center">
    <span class="spinner-border spinner-border-lg"></span>
  </div>
</div>
<div class="card card-width mb-3">
  <div class="row row-align g-0">
    <div class="col-md-4 col-6">
      <img [src]="titleImage" alt="titleImage" (click)="onBlogArticleClick()">
    </div>
    <div class="col-md-8 col-6">
      <div class="card-body">
        <span class="card-title font-weight-bold">{{blogArticle.title}}</span>
        <p class="card-text">{{blogArticle.description}}</p>
        <a (click)="onBlogArticleClick()" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
