<div class="row" [formGroup]="form" *ngFor="let multichoiceData of controlsFromJson">
  <div class="col-md-6 form-group mb-3 mt-lg-4" *ngFor="let multichoiceControl of multichoiceData">
    <label
      [ngClass]="{
        'apply-validation': submitted && form.invalid
        }"
      class="col-form-label">
      {{multichoiceControl.label}}
    </label>
    <div class="custom-control custom-checkbox mb-1" *ngFor="let value of multichoiceControl.values">
      <input (change)="onCheckChange($event, multichoiceControl.formControlName)"
             [id]="value"
             type="checkbox"
             class="custom-control-input">
      <label class="custom-control-label" [for]="value">{{value}}</label>
    </div>
  </div>
</div>
