<div class="row mt-5 align-items-center background-color p-3" wmAnimate="fadeIn" [once]="true" speed="faster" aos>
  <div class="offset-1  col-3">
    <svg preserveAspectRatio="xMidYMid meet" data-bbox="50 9 100 181.113" viewBox="50 9 100 181.113" height="200"
         width="200" xmlns="http://www.w3.org/2000/svg" role="img">
      <g>
        <path
          d="M150 40.5L68.7 9 50 108.9l19.4 7.6-4.5 23.9h32.7s-9 48.4-9.1 49.1.4.8.7.3c.4-.4 42.4-50.1 42.4-50.1l18.3-98.1.1-1.1zm-49.8 86.4l-29-11.4L85 42.1h62.4l-40.2 47.5-7 37.3zm1.2 2.1l25.1 9.8h-27l1.9-9.8zm-49.6-21.1l18.1-96.8 75.9 29.4H83.6l-13.9 74.4-17.9-7zm15 30.9l4.1-21.8 29 11.4-1.9 10.4H66.8zm24 46.7l8.5-45.1H129l-38.2 45.1zm39.1-46.9l-28.3-11.1 7-37.2 39-46.1-17.7 94.4z"
          fill="#473933" data-color="1"></path>
      </g>
    </svg>
  </div>
  <div class="col-8">
    <span class="d-block title-text text-center">individuálny projekt ? </span>
    <span class="d-block italic-text text-center mt-4">Veľmi radi sa venujeme riešeniam na mieru.</span>
    <span class="d-block italic-text text-center">Prezrite si ukážku našich individuálnych projektov.</span>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary" routerLink="/individualne-projekty">Individuálne projekty</button>
    </div>
  </div>
</div>
