<div class="container">
  <h1 class="text-center mt-3 mb-5">{{categoryTitle}}</h1>
  <div class="mb-5">
    <app-search-header></app-search-header>
  </div>
  <div *ngIf="!isCommon">
    <app-individual-interior-project-title-text [isIndividualProject]="isIndividual"
                                                [titleTextData]="isIndividual ?
                                                individualProjectTitleTextData : interiorProjectTitleTextData">
    </app-individual-interior-project-title-text>
  </div>
  <div [@spinner]="isLoading">
    <app-loading></app-loading>
  </div>
  <div [@gallery]="isLoading">
    <div *ngIf="projects?.length > 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="row mt-4">
        <div *ngFor="let project of projects" class="col-md-6 mb-2">
          <app-project-gallery [project]="project"></app-project-gallery>
        </div>
      </div>
      <div class="mt-2 row">
        <ngb-pagination class="col d-flex justify-content-end"
                        [pageSize]="pageSize"
                        [(page)]="currentPage"
                        [collectionSize]="totalElements"
                        (pageChange)="onPageChange()">
        </ngb-pagination>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <app-empty-search-result [displayText]="projectsNotFoundMessage"></app-empty-search-result>
    </ng-template>
  </div>
  <app-contact></app-contact>
</div>
