<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-10">
      <div class="row">
        <ng-container *ngFor="let billingInformationEntry of billingInformation">
          <div class="col-12 col-md-5 text-md-right text-center mt-2 title-text">
            <span><b>{{billingInformationEntry.title}}:</b></span>
          </div>
          <ng-container *ngFor="let billingInformationContent of billingInformationEntry.content; let i = index">
            <div class="title-text offset-md-1 col-md-5 text-md-left col-12 text-center mt-2"
                 [class.offset-md-1]="i == 0"
                 [class.offset-6]="i != 0">
              <span><b>{{billingInformationContent.name}}</b></span>
            </div>
            <div *ngFor="let information of billingInformationContent.information"
                 class="offset-md-6 col-md-5 text-md-left col-12 text-center mt-1">
              <span>{{information}}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
