<div class="row mt-5 align-items-center">
  <div class="col-12 col-md-4">
    <span class="d-block text-center title-text">Skvelý interiér</span>
    <span class="d-block text-center italic-text mt-4">K našim domom taktiež dodávame interiérové návrhy na mieru.</span>
    <span class="d-block text-center mt-3"><a class="link-text" href="#">Viac o interérovom dizajne</a></span>
  </div>
  <div class="col-12 col-md-8">
    <img class="img-fluid" src="assets/slide2.png" alt="interior">
  </div>
</div>
