@import 'src/app/public-view/components/content/components/content-text-section/content-text-section.component.scss';
@import 'src/app/public-view/components/content/project-content.component.scss';


.left-padding{
  margin-left: 17%;
}
.line-under-text{
  width: 50%;
  height:2px;
  opacity: 0.7;
}
