<div class="row mt-5 justify-content-center">
  <div class="col-md-8 col-12 text-center">
    <span class="request-text mb-0">zaujali vás naše individuálne projekty na mieru?</span>
    <br>
    <span class="request-text">Radi pre vás pripravíme projekt presne podľa vašich požiadaviek</span>
  </div>
  <div class="col-md-4 col-12 text-center request-button-container">
    <!-- TODO: upravit referenciu na stranku -->
    <a class="btn btn-primary request-button" href="#" role="button">Mám záujem</a>
  </div>
</div>
