<div id="carouselControls" [ngClass]="'carousel slide row' + (isFloorPlan ? ' mt-5' : '')" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div *ngFor="let photoPath of projectPhotoPaths; let i = index"
         [ngClass]="(i === 0) ? 'carousel-item active' : 'carousel-item'">
      <img [ngClass]="'d-block' + (isFloorPlan ? ' carousel-img w-75' : ' w-100')" [src]="'assets/'+ photoPath" [alt]="photoPath" (click)="onClick(i)">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
