<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mt-5">
  <div class="row">
    <div *ngIf="successSubmit" class="alert alert-success offset-md-2 col-md-8 offset-1 col-10" role="alert">
      Formulár bol úspešne odoslaný
    </div>
    <div *ngIf="invalidsSubmit" class="alert alert-danger offset-md-2 col-md-8 offset-1 col-10" role="alert">
      Pri odosielaní formulára nastala chyba skúste to znova alebo nás kontaktuje priamo cez telefón alebo email
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-4 col-10">
      <div class="form-group">
        <input formControlName="name" type="text" class="form-control" placeholder="Meno">
        <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" class="text-danger">
          Povinný údaj
        </div>
      </div>
    </div>
    <div class="col-md-4 col-10">
      <div class="form-group">
        <input formControlName="surname" type="text" class="form-control" placeholder="Priezvisko">
        <div *ngIf="contactForm.get('surname').invalid && contactForm.get('surname').touched" class="text-danger">
          Povinný údaj
        </div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-4 col-10">
      <div class="form-group">
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
        <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="text-danger">
          Povinný údaj
        </div>
      </div>
    </div>
    <div class="col-md-4 col-10">
      <div class="form-group">
        <input formControlName="telephone" type="text" class="form-control" placeholder="Telefón">
        <div *ngIf="contactForm.get('telephone').hasError('required') &&
                    contactForm.get('telephone').touched" class="text-danger">
          Povinný údaj
        </div>
        <div *ngIf="!contactForm.get('telephone').hasError('required') &&
                     contactForm.get('telephone').invalid &&
                     contactForm.get('telephone').touched" class="text-danger">
          Tel. číslo musí mať formát +421 xxx xxx xxx
        </div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-8 col-10">
      <div class="form-group">
        <textarea formControlName="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Napíšte nám správu"></textarea>
        <div *ngIf="contactForm.get('text').invalid && contactForm.get('text').touched" class="text-danger">
          Povinný údaj
        </div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-8 col-10">
      <div class="custom-control custom-checkbox">
        <input formControlName="dataPrivacyCheck" type="checkbox" class="custom-control-input" id="data-privacy-check">
        <label class="custom-control-label" for="data-privacy-check">Súhlasím so spracovaním osobných údajov</label>
        <div *ngIf="contactForm.get('dataPrivacyCheck').invalid && contactForm.get('dataPrivacyCheck').touched"
             class="text-danger">
          Musíte odsúhlasiť so spracovaním osobných údajov
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="offset-md-2 offset-1">
      <div style="transform:scale(0.9);transform-origin:0;">
        <re-captcha formControlName="recaptchaToken"
                    [siteKey]="recaptchaKey">
        </re-captcha>
      </div>
    </div>
  </div>
  <div class="row justify-content-st mt-4">
    <div class="col-auto offset-md-2 offset-1">
      <div class="form-group">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="contactForm.invalid || loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Odoslať
        </button>
      </div>
    </div>
  </div>
</form>
