<div class="row mt-5 justify-content-center comparison-container">
  <div class="col-lg-6 col-12 text-center changes-questions-section font-weight-bold">
    <span>
      Jedno okno naviac ?
      <br>
      Viac priestoru v šatníku ?
      <br>
      Garáž ?
    </span>
  </div>
  <div class="col-lg-6 col-12 text-center changes-text-section">
    <span class="changes-first-text d-block">Zmeny v projekte pre nás nie sú žiadny problém.</span>
    <span class="changes-second-text d-block">Pozrite si príklady a cenu možných zmien.</span>
    <br>
    <!-- TODO: upravit referenciu na stranku -->
    <a class="btn btn-secondary mt-3" href="#" role="button">Zmeny v projekte</a>
  </div>
</div>
