.row-content {
  margin-top: 10%;
  height: 25em;
  background-color: #b6e8e3;
}

.proposal-first-text {
  color: white;
  background-color: black;
  font-size: 150%;
  position: relative;
  top: 20%;
}

.proposal-second-text {
  font-weight: bold;
  background-color: #ffbe00;
  font-size: 220%;
  position: relative;
  top: 23%;
}

.proposal-third-text a {
  background-color: #ffbe00;
  color: black;
  text-decoration: underline;
  font-size: 150%;
  position: relative;
  top: 30%;
}

.custom-idea-icon {
  margin-top: 10%;
}
