.row-content {
  background-color: #b6e8e3;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.proposal-first-text {
  color: white;
  background-color: black;
  font-size: 150%;
}

.proposal-second-text {
  font-weight: bold;
  background-color: #ffbe00;
  font-size: 220%;
}

.proposal-third-text a {
  background-color: #ffbe00;
  color: black;
  text-decoration: underline;
  font-size: 150%;
}

.custom-idea-text-container {
  text-align: left;
}

.custom-idea-icon-container {
  text-align: left;
}

@media (max-width: 991px) {
  .custom-idea-icon-container {
    margin-top: 7%;
    text-align: center;
  }

  .custom-idea-text-container {
    text-align: center;
  }
}

