<ng-container [formGroup]="form" *ngIf="form.get(dataField.formControlName) != undefined">
  <label
    class="col-form-label">
    {{dataField.label}}
  </label>
  <div class="custom-control custom-checkbox mb-1" *ngFor="let value of dataField.values">
    <input (change)="onCheckChange($event, dataField.formControlName)"
           [id]="value"
           [value]="value"
           [checked]=""
           type="checkbox"
           class="custom-control-input">
    <label class="custom-control-label" [for]="value">{{value}}</label>
  </div>
  <div *ngIf="form.get(dataField.formControlName).invalid && touched" class="text-danger">
    Povinný údaj
  </div>
</ng-container>
