<ng-container [formGroup]="form" *ngIf="form.get(dataField.formControlName)">
  <label
    class="col-form-label">
    {{dataField.label}}
  </label>
  <div [formGroupName]="dataField.formControlName">
    <div class="custom-control custom-checkbox mb-1"
         *ngFor="let value of dataField.values">
      <input
        type="checkbox"
        class="custom-control-input"
        [id]="value"
        [formControlName]="value">
      <label class="custom-control-label" [for]="value">{{value}}</label>
    </div>
  </div>

  <div *ngIf="form.get(dataField.formControlName).hasError('incorrect')" class="text-danger">
    Povinný údaj
  </div>
</ng-container>
