<div class="container content">
  <form [formGroup]="form" (ngSubmit)="submit()" class="mb-5">
    <div class="row">
      <div *ngFor="let dataField of getFormGroup('0')" [class.col-md-6]="!dataField.fullWidth" [class.col-md-12]="dataField.fullWidth">
        <app-data-field-resolver
          [dataField]="dataField"
          [form]="form.get('textFields')">
        </app-data-field-resolver>
      </div>
    </div>

    <div class="row mt-lg-4">
      <button type="submit" class="btn btn-primary col-xs-12" [disabled]="validationSuccess">
        <em class="bi bi-plus-square"></em> Vytvoriť projekt
      </button>
    </div>
  </form>
</div>
