<div class="mt-4 row justify-content-center">
  <div class="col-md-12 col-12 my-auto mx-auto text-center">
    <span class="title-text-responsive">{{project.title}}</span>
  </div>
    <div class="col-md-12 col-12 text-center mt-3">
      <span class="mb-0 font-weight-bold">
        <span class="mb-0 font-weight-bold text-value">
          {{project.usableArea | number: '3.2': 'sk'}}
        </span>
        &#13217;
      </span>
      <span class="d-block">Úžitková plocha</span>
    </div>
</div>
