<div class="row mt-5 p-4 background-color" wmAnimate="fadeIn" speed="faster" [once]="true" aos>
  <div class="col-md-6 col-12">
    <div class="row align-items-center">
      <div class="col-md-5 col-3 text-right">
        <em class="bi bi-telephone font-size"></em>
      </div>
      <div class="col-md-7 col-9  text-left">
        <span class="d-block">Zavolajte nám</span>
        <span class="d-block">+421 904 530 619</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="row align-items-center">
      <div class="col-md-4 col-3 text-right">
        <em class="bi bi-envelope font-size"></em>
      </div>
      <div class="col-md-8 col-9  text-left">
        <span class="d-block">Všeobecné info a poradenstvo</span>
        <span class="d-block">info@domyodarchitektov.sk</span>
      </div>
    </div>
  </div>
</div>
