<div class="row mt-5 p-4 background-color">
  <div class="col-md-6 col-12">
    <div class="row align-items-center">
      <div class="col-md-6 col-5 text-right">
        <i class="bi bi-telephone font-size"></i>
      </div>
      <div class="col-md-6 col-7  text-left">
        <span class="d-block">Zavolajte nám</span>
        <span class="d-block">+421 904 530 619</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="row align-items-center">
      <div class="col-md-6 col-5 text-right">
        <i class="bi bi-envelope font-size"></i>
      </div>
      <div class="col-md-6 col-7  text-left">
        <span class="d-block">Všeobecné info a poradenstvo</span>
        <span class="d-block">info@domyodarchitektov.sk</span>
      </div>
    </div>
  </div>
</div>
