<div class="container">
  <ng-template [ngIf]="isLoading">
    <app-loading></app-loading>
  </ng-template>
  <ng-template [ngIf]="!isLoading && !error">
    <app-project-title-image [titleImagePath]="project.titleImage"></app-project-title-image>

    <app-individual-project-info *ngIf="project.category === INDIVIDUAL_CATEGORY_ID"
                                 [project]="project"></app-individual-project-info>

    <app-interior-project-info *ngIf="project.category === INTERIOR_CATEGORY_ID"
                               [project]="project"></app-interior-project-info>

    <app-project-customer-request></app-project-customer-request>
    <!-- TODO: add gallery component -->
    <app-project-description [textSections]="project.textSections"></app-project-description>
    <app-project-customer-request></app-project-customer-request>
  </ng-template>
  <ng-template [ngIf]="!isLoading && error">
    <app-not-found [displayText]="projectNotFoundMessage"></app-not-found>
  </ng-template>
</div>
<div class="container-fluid mt-5 row-content">
  <app-project-customized-proposal></app-project-customized-proposal>
</div>
<div class="container mt-5">
  <app-project-price-info></app-project-price-info>
</div>
