<div class="row mt-5">
  <div class="col-md-5 text-center">
    <img [src]="'assets/interior_icon.webp'" alt="interior-icon" class="interior-img">
    <br>
    <span class="d-block interior-first-text">
      Nádherný interiér
    </span>
    <br>
    <span class="d-block interior-second-text">
      K našim domom taktiež dodávame <br>
      interiérové návrhy na mieru.
    </span>
    <br>
    <span class="d-block interior-third-text">
      <a class="link-text" (click)="onLinkClick()">
        Viac o interiérovom dizajne
      </a>
    </span>
  </div>
  <div class="col-md-7">
    <app-image-carousel [carouselItems]="images"
                        [dataInterval]="0"
                        [shouldDisplayAnimation]="false">
    </app-image-carousel>
  </div>
</div>
