<table class="table">
  <thead>
  <tr>
    <th class="first-col align-middle" scope="col"></th>
    <th class="second-col col-text-center align-middle" scope="col">Základný projekt</th>
    <th class="second-col col-text-center align-middle" scope="col">Rozšírený projekt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of getTableData()">
    <td class="align-baseline align-middle first-col ">{{data.name}}</td>
    <td class="second-col col-text-center align-middle">
      <em class="bi bi-check table-icon-size"
          *ngIf="!isString(data.basic)"></em>
      <p *ngIf="isString(data.basic)">{{data.basic}}</p>
    </td>
    <td class="second-col col-text-center align-middle">
      <em class="bi bi-check table-icon-size"
          *ngIf="!isString(data.advanced)"></em>
      <p *ngIf="isString(data.advanced)">{{data.advanced}}</p>
    </td>
  </tr>
  </tbody>
</table>
