<table class="table" wmAnimate="fadeIn" speed="faster" [once]="true" aos>
  <caption></caption>
  <thead>
  <tr>
    <th class="align-middle" scope="col"></th>
    <th class="col-text-center" scope="col">Základný projekt</th>
    <th class="col-text-center" scope="col">Rozšírený projekt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of getTableData()">
    <td class="align-baseline align-middle content-text">{{data.name}}</td>
    <td class="col-text-center align-middle">
      <em class="bi bi-check table-icon-size"
          *ngIf="!isString(data.basic)"></em>
      <span class="content-text" *ngIf="isString(data.basic)">{{data.basic}}</span>
    </td>
    <td class="col-text-center align-middle">
      <em class="bi bi-check table-icon-size"
          *ngIf="!isString(data.advanced)"></em>
      <span class="content-text" *ngIf="isString(data.advanced)">{{data.advanced}}</span>
    </td>
  </tr>
  </tbody>
</table>
