.padding-bottom{
  padding-bottom: 4%;
}
.padding-top{
  padding: 4%;
}

.contact-text{
  font-size: 1.4rem;
  font-weight: bold;
}

.title-text{
  font-size: 1.3rem;
}
.content-text{
  font-size: 1.2rem;
}

