<div class="container">
  <app-content-text-section [textSection]="textSectionData['EXACTLY_MEASURE_CONTENT_DATA']"></app-content-text-section>
  <app-content-text-section
    [textSection]="textSectionData['CATALOGUE_PROJECT_CONTENT_DATA']"></app-content-text-section>
  <h2 class="text-center mb-5" wmAnimate="fadeIn" speed="faster" aos>
    Dokumentácia je spracovaná vo vysokej realizačnej podrobnosti.</h2>
  <project-content-table></project-content-table>
  <p class="text-center mt-5 mb-5" wmAnimate="fadeIn" speed="faster" aos>
    Všetky ceny nájdete v našom rozšírenom prehľade. Uvádzané ceny sú konečné, dodávateľ nieje platcom DPH.
  </p>
  <app-extended-content-header
    [completeTextSection]="textSectionData['COMPLETE_CONTENT_DATA']"
    [orderStepsTextSection]="textSectionData['ORDER_STEPS_CONTENT_DATA']">
  </app-extended-content-header>
  <app-content-text-section [textSection]="textSectionData['INDIVIDUAL_PROJECT_CONTENT_DATA']"></app-content-text-section>
  <app-content-individual-project-photos class="mt-5"></app-content-individual-project-photos>
  <div class="text-center mt-5" wmAnimate="fadeIn" speed="faster" aos>
    <button type="button" class="btn btn-primary mr-3" (click)="router.navigate(['/individualne-projekty'])">
      Pozerať individuálne projekty
    </button>
  </div>
  <app-contact></app-contact>
</div>
