<div class="container sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="main-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link px-50" routerLink="/">Domov</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/projekty">Projekty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Interiérový dizajn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Individuálne projekty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Obsah projektu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span id="contact-text">
              Kontakty
              <img src="assets/facebook-logo.png" class="contact-logo d-none  d-lg-inline" id="instagram-logo"
                   alt="instagram">
              <img src="assets/instagram-logo.png" class="contact-logo d-none  d-lg-inline" id="facebook-logo"
                   alt="facebook">
            </span>
            <span class="d-inline  d-lg-none">
            <img src="/src/assets/facebook-logo.png" class="contact-logo ml-1" alt="instagram">
            <img src="/src/assets/instagram-logo.png" class="contact-logo" alt="facebook">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
