@import "../../../theme";

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

#instagram-logo {
  left: 0;
  top: 25px;
  position: absolute;
}

#facebook-logo {
  right: 0;
  top: 25px;
  position: absolute;
}

.contact-logo {
  width: 25px;
  height: 25px;
}

.navbar {
  background-color: #ffffff !important;
}

#contact-text {
  position: relative;
}

a {
  font-size: 0.9rem;
}

ul {
  width: 100%;
}

li {
  margin-left: 3.7%;
}

.nav-item > a {
  color: black;
}

.navbar-nav > .active > a {
  color: map_get($theme-colors, "primary");
}

.nav-item > a:hover {
  color: map_get($theme-colors, "primary");
}
