.section-title {
  font-size: 125%;
  font-weight: bold;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
  font-family: sans-serif;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

.row-content {
  background-color: #b6e8e3;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.title-text-responsive {
  color: #c1c1c1;
  font-weight: bold;
  font-size: calc(100% + 1vw + 1vh);
}
