.section-title {
  font-size: 125%;
  font-weight: bold;
}

.btn {
  border-radius: 0.5rem;
}

.row-content {
  background-color: #b6e8e3;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.title-text-responsive {
  color: #c1c1c1;
  font-weight: bold;
  font-size: calc(100% + 1vw + 1vh);
}

.text-value {
  font-size: calc(1rem + 0.9vmin);
}
