<div class="container content">
  <div class="title-text mb-5 text-center">{{title}}</div>
  <app-form-alert *ngIf="uploadMessage" [uploadMessage]="uploadMessage"  [validationSuccess]="validationSuccess"></app-form-alert>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-data-fields-group
      class="row"
      [dataGroup]="dataFields[projectCategory]"
      [form]="form">
    </app-data-fields-group>
    <div class="row">
      <div class="col-12">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <span *ngIf="projectId; else elseBlock">Upraviť projekt</span>
          <ng-template #elseBlock>
            <span>Vytvoriť projekt</span>
          </ng-template>
        </button>
      </div>
    </div>
  </form>
</div>
