<div class="container">
  <div class="row">
    <div class="col-lg-7 col-12 custom-idea-text-container">
      <div class="mb-2">
        <span class="proposal-first-text">Nenašli ste projekt</span>
        <br>
        <span class="proposal-first-text">podľa vašich predstáv ?</span>
      </div>
      <div class="mb-4">
        <span class="proposal-second-text">Urobíme vám návrh alebo</span>
        <br>
        <span class="proposal-second-text">zmeny na mieru, presne pre vás!</span>
      </div>
      <div>
        <span class="proposal-third-text">
          <!-- TODO: upravit referenciu na stranku -->
          <a href="#">stačí ak nás kontaktujete</a>
        </span>
      </div>
    </div>
    <div class="col-lg-5 col-12 custom-idea-icon-container">
      <img src="../../../../../../../assets/custom_idea_icon.webp" alt="custom-idea-icon">
    </div>
  </div>
</div>

