<div *ngIf="isLoading" class="d-flex img-loading-wrapper justify-content-center">
  <div class="row align-content-center">
    <span class="spinner-border spinner-border-lg"></span>
  </div>
</div>
<div *ngIf="!isLoading" class="img-wrapper" (click)="onProjectClick()">
  <img [src]="imageUrl" [alt]="project.title">
  <div class="text-center align-middle font-weight-bold line-height text-light"></div>
</div>
<div class="d-flex justify-content-between">
  <div>
    <span class="font-weight-bold font-size">{{project.title}}</span>
  </div>
  <div>
    <span class="font-size">{{project.usableArea | number: '3.2': 'sk'}}</span>
    <span class="font-size">&#13217;</span>
  </div>
</div>
