img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.img-wrapper {
  position: relative;
  float: left;
}

/* Child Text Container */
.img-wrapper div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.img-wrapper:hover {
  cursor: pointer;
}

.img-wrapper:hover div {
  height: 100%;
  width: 100%;
  visibility: visible;
  opacity: 0.6;
}

.line-height {
  line-height: 20rem;
}

.img-loading-wrapper {
  width: 100%;
  height: 20rem;
  background: #f6f6f6;
}





