<div wmAnimate="fadeIn" [once]="true" aos>
  <div class="row mt-5 mb-5">
    <div class="col-7 col-md-8 light-grey-background p-3 pl-5">
      <span class="d-block title-text"><u
        class="title-text">Individuálne</u> a katalógové projekty rodinných domov</span>
      <span class="d-none d-md-block italic-text">S projektom od nás dostanete všetko potrebné na jednom mieste.</span>
      <span class="d-none d-md-block italic-text">Ľahko tak zvládnete úrady aj výstavbu.</span>
    </div>
    <div class="col-4 col-md-3 offset-1 light-grey-background sb3 text-center align-content-center row text-center">
      <span class="xl-font title-text col font-weight-bold"><u>Naše projekty</u></span>
    </div>
  </div>
</div>

