<div class="row margin-top-bottom">
  <div class="col-7 col-md-8 padding light-grey-background">
    <h1 class="margin-bottom"><b><u>Individuálne</u> a katalógové projekty rodinných domov</b></h1>
    <span class="d-none  d-lg-inline">S projektom od nás dostanete všetko potrebné na jednom mieste.Ľahko tak zvládnete úrady aj výstavbu.</span>
  </div>
  <div class="col-4 col-md-3 offset-1 padding bubble light-grey-background sb3 justify-content-center">
    <h1 class="xl-font" style="margin: auto"><b><u>Naše projekty</u></b></h1>
  </div>
</div>
