<div class="content">
  <div class="container">
    <div class="row no-gutters contact-wrap">
      <div class="col-md-12">
        <div class="form">
          <h3>Nový projekt</h3>
          <form [formGroup]="createProjectForm" class="mb-5 " method="post" id="contactForm" name="contactForm">
            <app-form-row [submitted]="submitted" (formReady)="formInitialized('child_form_group', $event)"></app-form-row>
            <app-form-enumeration [submitted]="submitted"
              (formReady)="formInitialized('child_form_enumeration_group', $event)"></app-form-enumeration>
            <app-form-multichoice [submitted]="submitted"
              (formReady)="formInitialized('child_form_multichoice_group', $event)"></app-form-multichoice>
            <app-form-file (formReady)="formInitialized('child_form_file_group', $event)" [submitted]="submitted"></app-form-file>
            <h4>Nové textové sekcie projektu</h4>
            <app-form-dynamic-text-section [submitted]="submitted"
              (formReady)="formInitialized('child_dynamic_text_areas_group', $event)"></app-form-dynamic-text-section>
            <h4 class="mt-lg-4">Nové fotky do galerie projektu</h4>
            <app-form-dynamic-galery [submitted]="submitted"
              (formReady)="formInitialized('child_dynamic_photo_galery_group', $event)"></app-form-dynamic-galery>
            <div class="row mt-lg-4">
              <button type="submit" class="btn btn-primary col-xs-12" (click)="submit()" [disabled]="validationSucces">
                <i class="bi bi-plus-square"></i> Vytvoriť projekt
              </button>
            </div>
          </form>
          <div [ngClass]="{
                'form-alert alert-success': validationSucces,
                'form-alert alert-danger': !validationSucces
              }" class="alert alert-success" role="alert" *ngIf="submitted">
            {{uploadMessage}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
