@import '../../general/project.component';

.row {
  background-color: #c1c1c1;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.comparison-link {
  font-family: sans-serif;
  color: black;
  text-decoration: underline;
  font-size: calc(0.9rem + 0.5vmin);
}

.comparison-additional-text {
  font-size: calc(0.4rem + 1vmin);
  font-family: sans-serif;
}

@media (max-width: 767px) {
  .comparison-link-container {
    margin-top: 1rem;
  }
}
