<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="title-text">
    <em class="bi bi-wrench"></em>
    <span class="title-text ml-1">ADMIN</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="ml-3 navbar-nav mr-auto">
      <li class="nav-item m-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/individualne-projekty">Individuálne projekty</a>
      </li>
      <li class="nav-item m-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/katalogove-projekty">Katalógové projekty</a>
      </li>
      <li class="nav-item m-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/interierovy-dizajn">Interiérový dizajn</a>
      </li>
      <li class="nav-item m-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/blog">Blog</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item m-1">
        <a class="nav-link" routerLink="projekty" (click)="onLogout()">Odhlásenie</a>
      </li>
    </ul>
  </div>
</nav>
