.line-under-text {
  width:25%;
  height:2.5px;
  border-width:0;
  background-color: #f36c36;
}

.title-text{
  font-size: 1.3rem;
  opacity: 0.5;
}

.text-font{
  font-family: titleFontSection, serif;
}

.padding-bottom{
  padding-bottom: 4%;
}
