<div class="mt-4">
  <app-search-header></app-search-header>
  <div class="row justify-content-center" *ngIf="loading">
    <div class="col-2">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="card mt-1" *ngFor="let projects of projects">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <span>{{projects.title}}</span>
        </div>
        <div class="col-9 text-right">
          <button type="button" class="btn btn-primary mr-3">
            <i class="bi bi-pen"></i>
            Upraviť
          </button>
          <button type="button" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i>
            Vymazať
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2 row">
    <ngb-pagination class="col d-flex justify-content-end"
                    [pageSize]="pageSize"
                    [(page)]="currentPage"
                    [collectionSize]="totalElements"
                    (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>
