<div class="mt-4">
  <app-search-header></app-search-header>
  <app-form-alert *ngIf="message" [uploadMessage]="message" [validationSuccess]="projectRemoved"></app-form-alert>
  <div class="row justify-content-center" *ngIf="loading">
    <div class="col-2">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="card mt-1" *ngFor="let project of projects">
    <app-admin-project-gallery [project]="project"
                               [projectCategory]="projectCategory"
                               (projectRemoval)="removeProject($event)">
    </app-admin-project-gallery>
  </div>
  <div class="mt-2 row">
    <div class="col-auto form-group">
      <button class="btn btn-primary" (click)="onAddProject()">
        Pridať nový projekt
      </button>
    </div>
    <ngb-pagination class="col d-flex justify-content-end"
                    [pageSize]="pageSize"
                    [(page)]="currentPage"
                    [collectionSize]="totalElements"
                    (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>
