<div class="container">
  <ng-template [ngIf]="isLoading">
    <app-loading></app-loading>
  </ng-template>
  <ng-template [ngIf]="!isLoading && !error">
    <div class="blog-container">
      <div class="row justify-content-center mt-4">
        <span class="col-auto title-text">{{blogArticle.title}}</span>
      </div>
      <quill-view [content]="blogArticle.content" format="object" theme="snow"></quill-view>
    </div>
    <app-another-blog-articles></app-another-blog-articles>
  </ng-template>
  <ng-template [ngIf]="!isLoading && error">
    <app-not-found [displayText]="blogArticleNotFoundMessage"></app-not-found>
  </ng-template>
</div>
