<div class="mt-4 row justify-content-center">
  <div class="col-md-auto col-12 my-auto mx-auto text-center">
    <span class="title-text-responsive">{{project.title}}</span>
  </div>
  <div class="row col-md col-12 text-center">
    <div class="col-md-3 col-6">
      <span class="mb-0 d-block font-weight-bold text-value">{{project.persons}}</span>
      <span class="d-block property-title">Počet osôb</span>
    </div>
    <div class="col-md-3 col-6">
      <span class="mb-0 font-weight-bold">
        <span class="mb-0 font-weight-bold text-value">
          {{project.builtUpArea | number: '3.2': 'sk'}}
        </span>
        &#13217;
      </span>
      <span class="d-block property-title">Zastavaná plocha</span>
    </div>
    <div class="col-md-3 col-6">
      <span class="mb-0 font-weight-bold">
        <span class="mb-0 font-weight-bold text-value">
          {{project.usableArea | number: '3.2': 'sk'}}
        </span>
        &#13217;
      </span>
      <span class="d-block">Úžitková plocha</span>
    </div>
    <div class="col-md-3 col-6">
      <span class="mb-0 d-block font-weight-bold text-value">{{project.energeticClass}}</span>
      <span class="d-block">Energetická trieda</span>
    </div>
  </div>
</div>
