<div class="row  justify-content-center mt-5">
  <h1 class="border-primary wide-border-bottom"><b>U nás dostanete všetko</b></h1>
</div>
<div class="row  justify-content-center">
  <span class="font-size text-center"><i>K dispozícií máte všetky služby na jednom mieste.</i></span>
</div>
<div class="row justify-content-center">
  <span class="font-size text-center"><i>Premyslené do posledného detailu.</i></span>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-12 col-md text-center">
    <img src="assets/light_bulb.png" alt="light_bulb">
    <div class="row  justify-content-center mt-4">
      <h3><b>Premyslený návrh</b></h3>
    </div>
    <div class="row  justify-content-center">
      <span class="font-size"><i>Návrhy, ktoré majú hlavu a pätu, premyslené do posledného detailu.</i></span>
    </div>
  </div>
  <div class="col-12 col-md text-center">
    <img src="assets/house.png" alt="house">
    <div class="row  justify-content-center mt-4">
      <h3><b>Premyslený návrh</b></h3>
    </div>
    <div class="row  justify-content-center">
      <span class="font-size"><i>Projektovú dokumentáciu, s ktorou zvládnete úrady a výstavbu.</i></span>
    </div>
  </div>
  <div class="col-12 col-md text-center">
    <img src="assets/interior.png" alt="interior">
    <div class="row  justify-content-center mt-4">
      <h3><b>Premyslený návrh</b></h3>
    </div>
    <div class="row  justify-content-center">
      <span class="font-size"><i>Ideálne interiérove riešenie presne šité na mieru stavbe a vám.</i></span>
    </div>
  </div>
</div>
