<div class="container" *ngIf="isLoading">
  <div class="col-12 text-center">
    <span class="spinner-border spinner-border-sm mr-1"></span>
  </div>
</div>
<ngb-carousel [interval]="dataInterval" [pauseOnFocus]="pauseOnFocus" [pauseOnHover]="pauseOnHover" *ngIf="!isLoading">
  <ng-template ngbSlide *ngFor="let data of carouselData; let index = index">
    <div class="picsum-img-wrapper">
      <img [src]="withText ? data.image : data"
           [alt]="index"
           [ngClass]="shouldDisplayAnimation ? 'w-100 image-animation' : 'w-100'"
           (click)="onImageClick(index)">
      <div *ngIf="withText" class="carousel-caption">
        <h3 class="carousel-image"><a routerLink="/katalogove-projekty/{{data.id}}">{{data.title}}</a></h3>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
