<div class="container" *ngIf="isLoading">
  <div class="col-12 text-center">
    <span class="spinner-border spinner-border-sm mr-1"></span>
  </div>
</div>

<ng-template #carousel>
  <ngb-carousel
    [interval]="dataInterval"
    [pauseOnFocus]="pauseOnFocus"
    [pauseOnHover]="pauseOnHover"
    [class.custom-arrows]="customArrows">
    <ng-template ngbSlide *ngFor="let imageModel of imageModels; let index = index">
      <div class="picsum-img-wrapper">
        <img [src]="getImage(imageModel.id)"
             [alt]="index"
             (click)="onImageClick(index)">
      </div>
    </ng-template>
  </ngb-carousel>
</ng-template>

<ng-container *ngTemplateOutlet="carousel"></ng-container>

<ng-template #modal>
  <ng-container *ngTemplateOutlet="carousel"></ng-container>
</ng-template>
