<div id="carouselControls" class="carousel slide row" data-ride="carousel" #carouselRow>
  <div class="carousel-inner">
    <div *ngFor="let carouselItem of carouselItems; let i = index"
         [ngClass]="(i==0) ? 'carousel-item active' : 'carousel-item'">
      <!-- TODO: remove 'assets/' from path -->
      <img class="d-block w-100" [src]="'assets/'+ carouselItem" [alt]="carouselItem" (click)="onImageClick(i)">
    </div>

    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
