img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
  cursor: pointer;
}

.custom-arrows {
  ::ng-deep .carousel-control-prev-icon {
    background-image: url('~src/assets/bold-left-arrow.svg');
  }

  ::ng-deep .carousel-control-next-icon {
    background-image: url('~src/assets/bold-right-arrow.svg');
  }
}
