@import 'src/app/public-view/components/project/project.component';

.content-title {
  font-weight: bold;
  font-size: calc(1rem + 2vmin);
  margin-bottom: 1%;
}

.content-text {
  color: gray;
}

.content-underline {
  width: 30%;
  border: none;
  height: 1%;
  background-color: orange;
  margin-top: 0;
  margin-bottom: 1%;
}
