<span class="title-text">{{dataField.label}}</span>
<div [formGroup]="textSectionGroup" *ngFor="let textSectionGroup of getFormGroups(); let index = index;">
  <div class="row">
    <div class="col-md-11 form-group mb-3">
      <label class="col-form-label">Názov sekcie *</label>
      <input type="text"
             class="form-control"
             formControlName="title"
             placeholder="Zadajte názov sekcie">
    </div>
    <div class="col-md-1 form-group mb-3">
      <div class="row justify-content-center mt-lg-5">
        <button type="button" class="btn btn-default px-3" (click)="deleteNewTextSection(index)"><em
          class="bi-trash icon-medium-size"></em></button>
      </div>
    </div>
    <div class="col-md-12 form-group mb-3">
      <label class="col-form-label">Text sekcie *</label>
      <textarea
        class="form-control"
        cols="30" rows="2"
        placeholder="Napíšte text sekcie" formControlName="text">
        </textarea>
    </div>
  </div>
</div>
<div>
  <button
    class="btn btn-primary col-xs-12 mt-2"
    (click)="addNewTextSection()"
    type="button">
    <em class="bi bi-plus-square"></em> Vytvor textovú sekciu
  </button>
</div>
