@import 'src/theme';

.wide-border-bottom {
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
}

.font-size {
  font-size: 1.2rem;
  color: map_get($theme-colors, "light-grey");
}

img {
  width: auto;
  height: 80px;
}
