@import "src/theme";

.sticky {
  position: sticky;
  top: 0;
  z-index: 4;
}

.contact-logo {
  width: 25px;
  height: 25px;
}

ul {
  width: 100%;
}

li {
  margin-left: 0.2%;
}

.nav-item > a {
  color: black;
}

.navbar-nav > .active > a {
  color: map_get($theme-colors, "primary");
}

.nav-item > a:hover {
  color: map_get($theme-colors, "primary");
}

.nav-link {
  font-family: "texgyreadventor-regular", Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}
