<div class="container sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-white row">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="main-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Domov</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/individualne-projekty">Individuálne projekty</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/katalogove-projekty">Katalógové projekty</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/interierovy-dizajn">Interiérový dizajn</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Obsah projektu</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Blog</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Kontakty</a>
        </li>
        <li class="nav-item mt-2">
          <a href="https://www.facebook.com/DomyodArchitektov">
            <img src="assets/facebook-logo.png" class="contact-logo " alt="instagram">
          </a>
          <a href="https://www.instagram.com/domy_od_architektov/">
            <img src="assets/instagram-logo.png" class="contact-logo ml-2 ml-md-0 ml-xl-2" alt="facebook">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

