@import 'src/app/public-view/components/project/project.component';

.row {
  align-items: center;
  min-height: 150px;
}

.comparison-section {
  background-color: #c1c1c1;
}

.comparison-text {
  font-size: 150%;
  font-family: sans-serif;
  font-weight: bold;
}

.comparison-link {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  text-decoration: underline;
}

.comparison-additional-text {
  font-size: 15px;
  font-family: sans-serif;
}
