<div class="row mt-4">
  <section class="w-100 comparison-section">
    <div class="row align-items-center p-2">
      <div class="col-md-2 text-center">
        <h3 class="comparison-text mb-0">{{project.basicProject}} &euro;</h3>
        <span class="comparison-additional-text">Základný projekt</span>
      </div>
      <div class="col-md-2 text-center">
        <span class="comparison-text mb-0">{{project.advancedProject}} &euro;</span>
        <br>
        <span class="comparison-additional-text">Rozšírený projekt</span>
      </div>
      <div class="col-md-5 text-center">
        <a href="#" class="comparison-link">Porovnajte si čo obsahujú <br> jednotlivé rozdelenia typov projektov.</a>
      </div>
      <div class="col-md-3 text-center">
        <button class="btn btn-primary">Mám záujem</button>
      </div>
    </div>
  </section>
</div>

