<div class="row mt-5 justify-content-center">
  <div class="col-md-2 col-6 text-center">
    <span class="comparison-text mb-0">{{project.basicProject}} &euro;</span>
    <br>
    <span class="comparison-additional-text">Základný projekt</span>
  </div>
  <div class="col-md-2 col-6 text-center">
    <span class="comparison-text mb-0">{{project.advancedProject}} &euro;</span>
    <br>
    <span class="comparison-additional-text">Rozšírený projekt</span>
  </div>
  <div class="col-md-5 col-12 text-center comparison-link-container">
    <!-- TODO: upravit referenciu na stranku -->
    <a href="#" class="comparison-link">Porovnajte si čo obsahujú <br> jednotlivé rozdelenia typov projektov.</a>
  </div>
  <div class="col-md-3 col-12 text-center comparison-button-container">
    <button class="btn btn-primary comparison-button">Mám záujem</button>
  </div>
</div>

