@import 'src/app/public-view/components/project/project.component';

.row {
  background-color: #c1c1c1;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.comparison-text {
  font-size: 150%;
  font-family: sans-serif;
  font-weight: bold;
}

.comparison-link {
  font-family: sans-serif;
  color: black;
  text-decoration: underline;
}

.comparison-additional-text {
  font-size: 90%;
  font-family: sans-serif;
}

.comparison-button {
  width: 75%;
  height: 80%;
}

.comparison-button-container {
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .comparison-button-container {
    margin-top: 1rem;
  }

  .comparison-button {
    width: 100%;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .comparison-button-container {
    margin-top: 1rem;
  }

  .comparison-button {
    width: 35%;
    height: 100%;
  }

  .comparison-link-container {
    margin-top: 1rem;
  }
}
