<div class="row justify-content-center">
  <div class="col-auto text-center">
    <span class="title-text wide-border-bottom border-primary d-block">Objednajte si váš projekt ešte dnes</span>
  </div>
  <div class="col-12 text-center mt-4">
    <span class=" d-block">Tento formulár slúži na nezáväzné objednanie projektu.</span>
    <span class=" d-block">Po jeho vyplnení vás budeme kontaktovat s finálnou ponukou.</span>
  </div>
  <div class="col-12 text-center mt-4">
    <span class=" d-block">Aký je postup pri objednaní projektu ?</span>
    <span class=" d-block">Aké úkony budú následovat?     <a class="link-text ml-3">Viac tu.</a></span>
  </div>
</div>
