<ng-container [ngSwitch]="dataField.type">

  <app-primitive-type-field *ngSwitchCase="'text'" [form]="form" [dataField]="dataField">
  </app-primitive-type-field>

  <app-enumeration-field *ngSwitchCase="'enumeration'" [form]="form" [dataField]="dataField">
  </app-enumeration-field>

  <app-multichoice-field *ngSwitchCase="'multichoice'" [form]="form" [dataField]="dataField">
  </app-multichoice-field>

  <app-file-field *ngSwitchCase="'file'" [form]="form" [dataField]="dataField">
  </app-file-field>

  <app-form-dynamic-text-section *ngSwitchCase="'dynamicTextSection'" [form]="form" [dataField]="dataField">
  </app-form-dynamic-text-section>

</ng-container>
