<div class="row" [formGroup]="form">
  <div class="col-md-4 p-2" *ngFor="let galleryPhoto of galleryPreviews; let index = index;">
    <div class="item">
      <button type="button" class="btn btn-default" (click)="deletePhotoFromGallery(index)">
        <em class="bi-trash"></em>
      </button>
    </div>
    <img class="img-fluid rounded mx-auto d-block gallery-img" [src]="galleryPhoto" alt="">
  </div>
</div>

<div class="row">
  <div [ngClass]="{
      'col-md-12 form-group mb-3 mt-lg-4': true,
      'apply-validation': submitted && form.invalid
    }">
    <input  type="file" class="custom-file-input" id="galeryPhotoInput" aria-describedby="fileHelp"
           (change)="handleFileInput($event)">
    <label class="custom-file-label" for="galeryPhotoInput">
      Vyberte fotku do galérie ...
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
