<div class="container">
  <ng-template [ngIf]="isLoading" [ngIfElse]="loaded">
    <app-loading></app-loading>
  </ng-template>
  <ng-template #loaded>
    <app-project-title-image [titleImage]="project.titleImage"></app-project-title-image>
    <app-interior-project-info [project]="project"></app-interior-project-info>
    <app-project-customer-request></app-project-customer-request>
    <!-- TODO: add gallery component -->
    <app-project-description [textSections]="project.textSections"></app-project-description>
    <app-project-customer-request></app-project-customer-request>
  </ng-template>
</div>
<div class="container-fluid mt-5 row-content">
  <app-project-customized-proposal></app-project-customized-proposal>
</div>
<div class="container mt-5">
  <app-project-price-info></app-project-price-info>
</div>
