<ng-container [formGroup]="form" *ngIf="form.get(dataField.formControlName) != undefined">
  <div class="form-group">
    <label class="col-form-label">{{dataField.label}}</label>
    <select class="custom-select form-control"
            formControlName="{{dataField.formControlName}}">
      <option value="" disabled>{{dataField.placeholder}}</option>
      <option *ngFor="let optionValue of dataField.values" [ngValue]="optionValue">{{ optionValue }}</option>
    </select>
    <div *ngIf="form.get(dataField.formControlName).invalid && form.get(dataField.formControlName).touched" class="text-danger">
      Povinný údaj
    </div>
  </div>
</ng-container>
