@import 'src/app/public-view/components/project/project.component';

.info-text {
  font-size: 1.3rem;
  color: gray;
}

.info-unit {
  color: gray;
  margin-left: 4%;
}

.info-unit-roof-angle {
  color: gray;
  margin-left: 0.5%;
}

.info-heating {
  float: none;
  margin: auto;
  text-align: center;
}

.info-heating-title {
  font-size: 135%;
  font-weight: bold;
  display: block;
}

.info-heating-value {
  font-size: 135%;
  color: gray;
  display: block;
}

.info-text-container {
  padding: 0.1rem;
}

.info-value-container {
  padding: 0.1rem;
}
