@import 'src/app/public-view/components/project/project.component';

.info-text {
  font-size: 150%;
  color: gray;
}

.info-unit {
  color: gray;
  margin-left: 4%;
}

.info-heating {
  float: none;
  margin: auto;
  text-align: center;
}

.info-heating-title {
  font-size: 135%;
  font-weight: bold;
  display: block;
}

.info-heating-value {
  font-size: 135%;
  color: gray;
  display: block;
}

.info-text-container {
  padding: 0.1rem;
}

.info-value-container {
  padding: 0.1rem;
}

@media (max-width: 991px) {
  .info-text-container {
    width: 50%;
    padding-left: 15%;
    text-align: left;
  }

  .info-value-container {
    text-align: center;
  }
}
