<div class="row justify-content-center mt-5">
  <span class="section-title">Informácie o stavbe</span>
</div>
<div class="row mt-5">
  <div class="col-md-6">
    <ul class="ml-5">
      <li class="info-value-width">
        <span class="info-name">obytné miestnosti</span>
        <span class="info-value">{{project.rooms}}</span>
      </li>

      <li class="info-value-width">
        <span class="info-name">zastavaná plocha</span>
        <span class="info-value">{{project.builtUpArea | number: '3.2': 'sk'}} &#13217;</span>
      </li>

      <li class="info-value-width">
        <span class="info-name">celková úžitková plocha</span>
        <span class="info-value">{{project.grossArea | number: '3.2': 'sk'}} &#13217;</span>
      </li>

      <li class="info-value-width">
        <span class="info-name">celková obytná plocha</span>
        <span class="info-value">{{project.totalLivingArea | number: '3.2': 'sk'}} &#13217;</span>
      </li>

      <li class="info-value-width">
        <span class="info-name">sklon strechy</span>
        <span class="info-value">
          {{project.angleOfRoof | number: '1.1': 'sk'}} %
        </span>
      </li>

      <li class="info-value-width">
        <span class="info-name">minimálna šírka pozemku</span>
        <span class="info-value">{{project.minimumParcelWidth | number: '2.0': 'sk'}} m</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6 info-heating">
    <span class="mb-0 ml-5 info-heating-title">zdroj vykurovania</span>
    <span class="mb-4 ml-5 info-heating-value">{{project.heatingSource}}</span>

    <span class="mb-0 ml-5 info-heating-title">typ vykurovania</span>
    <span class="ml-5 info-heating-value">{{project.heatingType}}</span>
  </div>
</div>
