<!--<div class="dropdown">-->
<!--  <button class="btn dropdown-toggle" type="button" id="houseType" data-toggle="dropdown" aria-haspopup="true"-->
<!--          aria-expanded="false">-->
<!--    {{dropDownFilter.name}}-->
<!--  </button>-->
<!--  <div class="dropdown-menu p-3" aria-labelledby="houseType" (click)="$event.stopPropagation()">-->
<!--    <div [formGroup]="this.dropDownFilter.formGroup">-->
<!--      <div [formGroupName]="dropDownFilter.formGroupName" class="custom-control custom-checkbox" style="width: 12rem;">-->
<!--        <div *ngFor="let formControlName of formControlsNames">-->
<!--          <input [formControlName]="formControlName" type="checkbox" class="custom-control-input" id="customCheck2"-->
<!--                 name="example1">-->
<!--          <label class="custom-control-label" for="customCheck2">Custom checkbox</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

