@import "theme";
@import "~bootstrap/scss/bootstrap";

html {
  font-size: 0.7rem;
  margin: 0 5%;

  h1 {
    font-size: 1.1rem;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
    margin: 0;

    h1 {
      font-size: 2rem;
    }

    svg {
      height: 80px;
      width: 80px;
    }
  }
}
