@import "theme";
@import "~bootstrap/scss/bootstrap";
@import "~ngx-lightbox/lightbox.css";

@font-face {
  font-family: "Alegreya";
  src: local("Alegreya"), url(assets/fonts/alegreya.ttf) format("truetype");
}

* {
  font-family: "Alegreya", Arial, Helvetica, sans-serif;
  //font-size: 0.7rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
    margin: 0;
  }
}

.fadeIn {
  -webkit-animation-name: none;
  animation-name: none;
}

.fadeOut {
  -webkit-animation-name: none;
  animation-name: none;
}

