$theme-colors: (
  "primary": #ffbe00,
  "secondary": #02bceb,
  "light-grey": #656565
);

.title-text {
  font-size: 1.3rem;
  font-weight: bold;
}

.italic-text {
  font-size: 1rem;
  color: map_get($theme-colors, "light-grey");
}

.link-text {
  color: map_get($theme-colors, "light-grey");
  text-decoration: underline;
}

.link-text:hover {
  cursor: pointer;
  color: map_get($theme-colors, "primary");
}

.basic-light-grey-text {
  color: map_get($theme-colors, "light-grey");
}

.wide-border-bottom {
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
}

