<ng-container [ngSwitch]="dataField.type">

  <app-primitive-type-field *ngSwitchCase="dataFieldType.PRIMITIVE_TYPE" [form]="form" [dataField]="dataField">
  </app-primitive-type-field>

  <app-text-area-field *ngSwitchCase="dataFieldType.TEXT_AREA" [form]="form" [dataField]="dataField">
  </app-text-area-field>

  <app-enumeration-field *ngSwitchCase="dataFieldType.ENUMERATION" [form]="form" [dataField]="dataField">
  </app-enumeration-field>

  <app-multichoice-field *ngSwitchCase="dataFieldType.MULTICHOICE" [form]="form" [dataField]="dataField">
  </app-multichoice-field>

  <app-file-field *ngSwitchCase="dataFieldType.IMAGE" [form]="form" [dataField]="dataField">
  </app-file-field>

  <app-dynamic-text-section-field *ngSwitchCase="dataFieldType.DYNAMIC_TEXT_SECTION" [form]="form" [dataField]="dataField">
  </app-dynamic-text-section-field>

  <app-form-dynamic-gallery *ngSwitchCase="dataFieldType.DYNAMIC_PHOTO_GALLERY" [form]="form" [dataField]="dataField">
  </app-form-dynamic-gallery>

  <app-recaptcha-field *ngSwitchCase="dataFieldType.RECAPTCHA" [form]="form" [dataField]="dataField">
  </app-recaptcha-field>

  <app-submit-button-field *ngSwitchCase="dataFieldType.SUBMIT_BUTTON" [form]="form" [dataField]="dataField">
  </app-submit-button-field>

</ng-container>
