<div class="mt-4">
  <app-form-alert *ngIf="message"
                  [uploadMessage]="message"
                  [validationSuccess]="isBlogArticleRemoved">
  </app-form-alert>
  <app-admin-gallery-loading *ngIf="isLoading"></app-admin-gallery-loading>
  <div class="card mt-1" *ngFor="let blogArticle of blogArticles">
    <app-admin-blog-article [blogArticle]="blogArticle"
                            (blogArticleRemoved)="remove($event)">
    </app-admin-blog-article>
  </div>
  <div class="mt-2 row">
    <div class="col-auto form-group">
      <button class="btn btn-primary" (click)="add()">
        Pridať nový príspevok
      </button>
    </div>
    <ngb-pagination class="col d-flex justify-content-end"
                    [pageSize]="pageSize"
                    [(page)]="stateService.currentPage"
                    [collectionSize]="totalElements"
                    (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>
