<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <span class="title-text wide-border-bottom border-primary d-block">Skvelý tím, skvelé projekty</span>
    </div>
    <div class="col-12 text-center mt-2">
      <span class="italic-text d-block">Náš tím odborníkov je vám k dispozícií.</span>
      <span class="italic-text d-block">Spolu sa snažíme vytvárať kvalitné projekty presne pre vás.</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-md-2 col-md-4 col-12 text-center my-auto">
      <span class="d-block">Ing. arch. Dávid Chaľ</span>
      <span class="d-block">Architekt</span>
    </div>
    <div class="col-md-4 col-12 text-center my-auto">
      <span class="d-block">+421 904 530 619</span>
      <span class="d-block">chal@domyodarchitektov.sk</span>
      <span class="d-block">Bratislava / Humenné</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-md-2 col-md-4 col-12 text-center my-auto">
      <span class="d-block">Ing. arch.Nikola Miklovičová</span>
      <span class="d-block">Architekt</span>
    </div>
    <div class="col-md-4 col-12 text-center my-auto">
      <span class="d-block">miklovicova@domyodarchitektov.sk</span>
      <span class="d-block">Bratislava / Považská Bystrica</span>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-auto text-center">
      <span class="title-text wide-border-bottom border-primary d-block">Kontaktujte nás a stretnime sa</span>
    </div>
    <div class="col-12 text-center">
      <span class="italic-text d-block">Napíšte nám a dohodneme si termín stretnutia.Využite kontaktný</span>
      <span class="italic-text d-block">formulár nižšie, alebo nás kontaktujte priamo cez email alebo telefón</span>
    </div>
  </div>

  <app-contact-email-form></app-contact-email-form>

</div>
