@import 'src/app/components/image-carousel/image-carousel.component';

.interior-first-text {
  font-weight: bold;
  font-size: 140%;
  margin-top: 10%;
}

.interior-second-text {
  font-style: italic;
  color: gray;
  font-size: 115%;
}

.interior-third-text a {
  color: gray;
  text-decoration: underline;
  font-size: 115%;
}

.interior-image {
  height: 21em;
}

.row .col-md-7 .carousel-inner .carousel-item > img {
  -webkit-animation: none !important;
  animation: none !important;
}
