<div class="row mt-5">
  <div class="col-md-5 text-center">
    <img [src]="'assets/interior_icon.webp'" alt="interior-icon">
    <br>
    <span class="d-block interior-first-text">
      Nádherný interiér
    </span>
    <br>
    <span class="d-block interior-second-text">
      K našim domom taktiež dodávame <br>
      interiérové návrhy na mieru.
    </span>
    <br>
    <span class="d-block interior-third-text">
    <!-- TODO: upravit referenciu na stranku -->
      <a href="#">
        Viac o interérovom dizajne
      </a>
    </span>
  </div>
  <div class="col-md-7">
    <app-image-carousel [carouselItems]="projectPhotoPaths"
                        [dataInterval]="0"
                        [shouldDisplayAnimation]="false">
    </app-image-carousel>
  </div>
</div>
