<div class="row mt-5">
  <div class="col-md-5 text-center">
    <img [src]="'assets/interior_icon.webp'" alt="interior-icon">
    <br>
    <span class="d-block interior-first-text">
      Nádherný interiér
    </span>
    <br>
    <span class="d-block interior-second-text">
      K našim domom taktiež dodávame <br>
      interiérové návrhy na mieru.
    </span>
    <br>
    <span class="d-block interior-third-text">
      <a href="#">
        Viac o interérovom dizajne
      </a>
    </span>
  </div>
  <div class="col-md-7">
    <div id="carouselControls" class="carousel slide row" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div *ngFor="let photoPath of projectPhotoPaths; let i = index"
             [ngClass]="(i === 0) ? 'carousel-item active' : 'carousel-item'">
          <img class="d-block interior-image w-100" [src]="'assets/'+ photoPath" [alt]="photoPath">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
