<div class="row mt-4">
  <section class="comparison-section w-100">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <span>
          Jedno okno naviac ? <br>
          Viac priestoru v šatníku ? <br>
          Garáž ?
        </span>
      </div>
      <div class="col-md-6 text-center">
        <span>
          Zmeny v projekte pre nás nie sú žiadny problém. <br>
          Pozrite si príklady a cenu možných zmien.
        </span>
        <br>
        <button class="btn btn-primary mt-3">Zmeny v projekte</button>
      </div>
    </div>
  </section>
</div>
